<!-- Sidebar Navigation -->
<div id="sidebar" class="sidebar-nav">
  <!-- Button to open/close sidebar -->
  <button id="sidebar-toggle" class="sidebar-toggle-btn">
    <i class="fas fa-chevron-right" id="sidebar-toggle-icon"></i>
  </button>

  <div class="sidebar-header">
    <h2 class="sidebar-title">SIDEBAR NAVIGATOR</h2>
  </div>
  
  <ul class="sidebar-menu">
      <h4 class="title">OASIS PHARMACY</h4>

      <div class="sidebar-section">
        <h6>Profile Management</h6>
        <li><a href="/profile" class="sidebar-link"><i class="fas fa-solid fa-user"></i> </i> View My Profile</a></li>
       
      </div>
      <hr>
      <div class="sidebar-section">
        <h6>Storage Management</h6>
        <li><a href="/storage/new" class="sidebar-link"><i class="fas fa-plus-circle"> </i> Create Storage</a></li>
        <li><a href="/storage" class="sidebar-link"><i class="fas fa-plus-circle"> </i>View Storages</a></li>
       
      </div>
      <hr>
      <div class="sidebar-section">
        <h6>Medicament Management</h6>
        <li><a href="/medicament/upload" class="sidebar-link"><i class="fas fa-plus-circle"> </i>Upload Medicaments</a></li>
        <li><a href="/medicament/" class="sidebar-link"><i class="fas fa-list"> </i>Nomenclature</a></li>
      </div>
      <hr>
      <div class="sidebar-section">
        <h6>Pharmacy Management</h6>
        <li><a href="/pharmacy/" class="sidebar-link"><i class="fas fa-list"> </i>View Medicaments</a></li>
      </div>
      <hr>
      <div class="sidebar-section">
        <h6>Inventory Management</h6>
        <li><a href="/inventory/new" class="sidebar-link"><i class="fas fa-plus-circle"> </i>New Inventory</a></li>
        <li><a href="/inventory" class="sidebar-link"><i class="fas fa-list"> </i>View Inventories</a></li>
       
      </div>
      <hr>
      <div class="sidebar-section">
        <h6>Fournisseur Management</h6>
        <li><a href="/fournisseur" class="sidebar-link"><i class="fas fa-list"> </i>View Fournisseurs</a></li>
       
      </div>
  </ul>
</div>
