<!-- Sidebar Navigation -->
<div id="sidebar" class="sidebar-nav">
  <!-- Button to open/close sidebar -->
  <button id="sidebar-toggle" class="sidebar-toggle-btn">
    <i class="fas fa-chevron-right" id="sidebar-toggle-icon"></i>
  </button>

  <div class="sidebar-header">
    <h2 class="sidebar-title">SIDEBAR NAVIGATOR</h2>
  </div>

  <ul class="sidebar-menu">
    <h4 class="title">OASIS PHARMACY</h4>

    <hr>
    <div class="sidebar-section">
      <h6>Storage Management</h6>

      <li><a href="/storage" class="sidebar-link"><img width="30" height="30" src="https://img.icons8.com/office/30/parallel-tasks.png" alt="parallel-tasks" /><span class="ms-1">View Storages</span></a></li>

    </div>
    <hr>
    <div class="sidebar-section">
      <h6>Medicament Management</h6>
      <!--  <li><a href="/medicament/upload" class="sidebar-link"><img width="29" height="29" src="https://img.icons8.com/dusk/29/upload--v1.png" alt="upload--v1"/><span class="ms-1">Upload Medicaments</span></a></li> -->
      <li><a href="/medicament/" class="sidebar-link"><img width="29" height="29" src="https://img.icons8.com/officel/30/clinic.png" alt="clinic" /><span class="ms-1">Nomenclature</span></a></li>
    </div>
    <hr>
    <div class="sidebar-section">
      <h6>Pharmacy Management</h6>
      <li><a href="/pharmacy/" class="sidebar-link"><img width="29" height="29" src="https://img.icons8.com/arcade/29/pharmacy-shop.png" alt="pharmacy-shop" /><span class="ms-1">View Medicaments</span></a></li>
      <li><a href="/achat/demands" class="sidebar-link"><img width="29" height="29" src="https://img.icons8.com/fluency/29/demand.png" alt="demand"/><span class="ms-1">Purchase requests</span></a></li>
    </div>
    <hr>
    <div class="sidebar-section">
      <h6>Inventory Management</h6>
      <li><a href="/inventory" class="sidebar-link"><img width="29" height="29" src="https://img.icons8.com/plasticine/29/warehouse-1.png" alt="warehouse-1" /><span class="ms-1">View Inventories</span> </a></li>

    </div>
    <hr>
    <div class="sidebar-section">
      <h6>Fournisseur Management</h6>
      <li><a href="/fournisseur" class="sidebar-link"><img width="29" height="29" src="https://img.icons8.com/stickers/29/consumption.png" alt="consumption" /><span class="ms-1">View Fournisseurs</span></a></li>
    </div>
    <hr>
    <div class="sidebar-section">
      <h6>Profile Management</h6>
      <li><a href="/profile" class="sidebar-link"><img width="29" height="29" src="https://img.icons8.com/color/29/admin-settings-male.png" alt="admin-settings-male" /><span class="ms-1">View My Profile</span> </a></li>
      <li><a href="/logout" class="sidebar-link"><img width="29" height="29" src="https://img.icons8.com/nolan/29/exit.png" alt="exit" /><span class="ms-1">Logout</span></a></li>

    </div>

  </ul>
</div>