<% layout('layouts/boilerplate')%>
 

<div class="login-container">
  <h1><img src="/assets/logo.png" alt="" width="120px"> Oasis Pharmacy</h1>
  <form action="/login" method="POST">
      <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" name="username" class="form-control custom-input" required placeholder="Enter your username">
      </div>
      
      <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" name="password" class="form-control custom-input" required placeholder="Enter your password">
      </div>
      
      <button type="submit" class="btn btn-primary custom-btn">Login</button>
  </form>
  <p class="footer-text">Don't have an account? <a href="/register" class="custom-link">Register here</a></p>
</div>


